<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.java.com.lhj.project.dao.DashDataMapper">
    <resultMap id="BaseResultMap" type="main.java.com.lhj.project.model.DashData">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="seller" property="seller" jdbcType="VARCHAR"/>
        <result column="item_type" property="itemType" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="monitor_code" property="monitorCode" jdbcType="VARCHAR"/>
        <result column="revenue_type" property="revenueType" jdbcType="VARCHAR"/>
        <result column="payment_amount" property="paymentAmount" jdbcType="DECIMAL"/>
        <result column="payment_item" property="paymentItem" jdbcType="VARCHAR"/>
        <result column="payment_number" property="paymentNumber" jdbcType="INTEGER"/>
        <result column="lenovo_id" property="lenovoId" jdbcType="VARCHAR"/>
        <result column="source_id" property="sourceId" jdbcType="VARCHAR"/>
        <result column="region" property="region" jdbcType="VARCHAR"/>
        <result column="payment_date" property="paymentDate" jdbcType="DATE"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="insert_date" property="insertDate" jdbcType="VARCHAR"/>
        <result column="channel" property="channel" jdbcType="VARCHAR"/>
        <result column="income_type" property="incomeType" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_no, seller, item_type, ip, monitor_code, revenue_type, payment_amount, 
    payment_item, payment_number, lenovo_id, source_id, region, payment_date, sign, insert_date, 
    channel, income_type
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from dashboard
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dashboard
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="main.java.com.lhj.project.model.DashData">
    insert into dashboard (id, order_no, seller, 
      item_type, ip, monitor_code, 
      revenue_type, payment_amount, payment_item, 
      payment_number, lenovo_id, source_id, 
      region, payment_date, sign, 
      insert_date, channel, income_type
      )
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{seller,jdbcType=VARCHAR}, 
      #{itemType,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{monitorCode,jdbcType=VARCHAR}, 
      #{revenueType,jdbcType=VARCHAR}, #{paymentAmount,jdbcType=DECIMAL}, #{paymentItem,jdbcType=VARCHAR}, 
      #{paymentNumber,jdbcType=INTEGER}, #{lenovoId,jdbcType=VARCHAR}, #{sourceId,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{paymentDate,jdbcType=DATE}, #{sign,jdbcType=VARCHAR}, 
      #{insertDate,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{incomeType,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="main.java.com.lhj.project.model.DashData">
        insert into dashboard
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="seller != null">
                seller,
            </if>
            <if test="itemType != null">
                item_type,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="monitorCode != null">
                monitor_code,
            </if>
            <if test="revenueType != null">
                revenue_type,
            </if>
            <if test="paymentAmount != null">
                payment_amount,
            </if>
            <if test="paymentItem != null">
                payment_item,
            </if>
            <if test="paymentNumber != null">
                payment_number,
            </if>
            <if test="lenovoId != null">
                lenovo_id,
            </if>
            <if test="sourceId != null">
                source_id,
            </if>
            <if test="region != null">
                region,
            </if>
            <if test="paymentDate != null">
                payment_date,
            </if>
            <if test="sign != null">
                sign,
            </if>
            <if test="insertDate != null">
                insert_date,
            </if>
            <if test="channel != null">
                channel,
            </if>
            <if test="incomeType != null">
                income_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="seller != null">
                #{seller,jdbcType=VARCHAR},
            </if>
            <if test="itemType != null">
                #{itemType,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="monitorCode != null">
                #{monitorCode,jdbcType=VARCHAR},
            </if>
            <if test="revenueType != null">
                #{revenueType,jdbcType=VARCHAR},
            </if>
            <if test="paymentAmount != null">
                #{paymentAmount,jdbcType=DECIMAL},
            </if>
            <if test="paymentItem != null">
                #{paymentItem,jdbcType=VARCHAR},
            </if>
            <if test="paymentNumber != null">
                #{paymentNumber,jdbcType=INTEGER},
            </if>
            <if test="lenovoId != null">
                #{lenovoId,jdbcType=VARCHAR},
            </if>
            <if test="sourceId != null">
                #{sourceId,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                #{region,jdbcType=VARCHAR},
            </if>
            <if test="paymentDate != null">
                #{paymentDate,jdbcType=DATE},
            </if>
            <if test="sign != null">
                #{sign,jdbcType=VARCHAR},
            </if>
            <if test="insertDate != null">
                #{insertDate,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                #{channel,jdbcType=VARCHAR},
            </if>
            <if test="incomeType != null">
                #{incomeType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="main.java.com.lhj.project.model.DashData">
        update dashboard
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="seller != null">
                seller = #{seller,jdbcType=VARCHAR},
            </if>
            <if test="itemType != null">
                item_type = #{itemType,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="monitorCode != null">
                monitor_code = #{monitorCode,jdbcType=VARCHAR},
            </if>
            <if test="revenueType != null">
                revenue_type = #{revenueType,jdbcType=VARCHAR},
            </if>
            <if test="paymentAmount != null">
                payment_amount = #{paymentAmount,jdbcType=DECIMAL},
            </if>
            <if test="paymentItem != null">
                payment_item = #{paymentItem,jdbcType=VARCHAR},
            </if>
            <if test="paymentNumber != null">
                payment_number = #{paymentNumber,jdbcType=INTEGER},
            </if>
            <if test="lenovoId != null">
                lenovo_id = #{lenovoId,jdbcType=VARCHAR},
            </if>
            <if test="sourceId != null">
                source_id = #{sourceId,jdbcType=VARCHAR},
            </if>
            <if test="region != null">
                region = #{region,jdbcType=VARCHAR},
            </if>
            <if test="paymentDate != null">
                payment_date = #{paymentDate,jdbcType=DATE},
            </if>
            <if test="sign != null">
                sign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="insertDate != null">
                insert_date = #{insertDate,jdbcType=VARCHAR},
            </if>
            <if test="channel != null">
                channel = #{channel,jdbcType=VARCHAR},
            </if>
            <if test="incomeType != null">
                income_type = #{incomeType,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="main.java.com.lhj.project.model.DashData">
    update dashboard
    set order_no = #{orderNo,jdbcType=VARCHAR},
      seller = #{seller,jdbcType=VARCHAR},
      item_type = #{itemType,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      monitor_code = #{monitorCode,jdbcType=VARCHAR},
      revenue_type = #{revenueType,jdbcType=VARCHAR},
      payment_amount = #{paymentAmount,jdbcType=DECIMAL},
      payment_item = #{paymentItem,jdbcType=VARCHAR},
      payment_number = #{paymentNumber,jdbcType=INTEGER},
      lenovo_id = #{lenovoId,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      payment_date = #{paymentDate,jdbcType=DATE},
      sign = #{sign,jdbcType=VARCHAR},
      insert_date = #{insertDate,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      income_type = #{incomeType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>